[Unit]
Description=SwayOSD server (Hyprland)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayosd-server 2>/dev/null
Restart=on-failure

# Environment variables for Hyprland DBus + Wayland
Environment="XDG_RUNTIME_DIR=%t"
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus"

[Install]
WantedBy=graphical-session.target
